.gal{
display: flex;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  justify-content: center;
  /* max-width: 1020px; */
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.gal img{
    width: 200px;
    padding-top: 30px;
    cursor: pointer;
    transition: .5s ease;

}

.gal img:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.title{
    text-align: center;
    margin-top: 100px;
    background-color: rgb(177, 190, 190);
    width: auto;
    padding-left: 10px;
    margin-left: 700px;
}